@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'myFirstFont';
  src: url(font/MagdalenaPranjic_.ttf);
}

div {font-family: myFirstFont;}


p {
	color: green;
	font-family: 'Chewy', cursive;
	font-size: 20px;
	line-height: 22px;
	width: 700px;
	background-color: rgba(94, 158, 112);
	padding: 10px;
	}

p2 {
	color: green;
	font-family: 'Chewy', cursive;
	font-size: 15px;
	line-height: 20px;
	width: 300px;
	background-color: rgba(94, 158, 112);
	padding: 10px;
}



h1 {
	font-family: 'myFirstFont', "sans-serif"
	color: rgb(94, 158, 112)
	}

h2, h3 {
	font-family: 'Chewy', cursive;
	color: rgb(94, 158, 112);
	}
	
h4 {font-family:'Chewy', cursive;
	color: rgb(94, 158, 112);
	}
	
	span {color: rgb(94, 158, 112);}
	
.pozadina {background-image: url("slike/pozadinadva.jpg");}
.drugapozadina {background-image: url("slike/pozadinadva.jpg");}
		
a:link {
		font-family: 'Chewy', cursive;
		color: black;
		background-color: rgba(238, 210, 210, 0.4);
		padding: 5px;
		line-height: 40px;
		border: 1px solid #000000; 
		}
		
a:hover {background-color: gray;}
			
img {height: 200px;}
			